*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0px;
}
header{
    background-color: black;
}

footer, nav{
    background-color: #333;
    /* gray color */
    overflow: hidden;
    display: flex;
}
footer a, nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding:14px 20px ;
    float: left;
    text-align: center;
}
section{
    text-align: center;
    padding-top: 40px;
    height: 100vh;
}
section:nth-child(2){
    background-color: #ececec;
    padding-bottom: 50px;
}
video{
    padding: 0px 5px ;
}
img{
    padding: 0px 5px;
    height: 250px;  
}
h3{
    padding-bottom: 40px;
}
.copyright{
    float: right;
}

.banner{
    background-image: url(../img/logo.gif);
    height:20vw ;
    min-height:170px ;
    background-attachment: fixed;
    background-position: top center ;
    background-size: 50%;
    background-repeat: no-repeat;
}
#flex-align-right{
    margin-left: auto;
}
.menu-btn:hover{
    background-color: #dddd;
    color: black;
}
section h3 span{
    background-color: #fdd812;
    padding:10px 15px ;
    border-radius: 20px;
    color: #ffff;
}
  .carousel-cell {
    width: 76%;
    margin-right: 10px;
    border-radius: 5px;
    
}
  .carousel-cell video{
      width: 76%;

}
.image-responsive{
    max-width: 100vh;
    width: 100vh;

}
.profile-image{
    border-radius: 95%;
}
.profile-name{
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: uppercase;
    margin: 20px 0px 30px 0px ;
}
.sm_handle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm_handle a {
    background-color:rgb(125 125 125/25%);
    padding: 10px 15px;
    border-radius: 30px;
    margin:5px 10px ;
    text-decoration: none;
    font-size: 1.15em;

}
.sm_handle a:hover{
    background-color:rgb(30 30 30/25%) ;
}
.sm_handle a i{
    margin: 5px;
}
.ins_handle{
    color:  #C13584;;

}
.yt_handle{
    color: #FF0000;

}
.fac_handle{
    color: #4267B2;

}
.about_us{
    margin: 30px;

}
.about_tittle{
    font-size: 1.25em;
    padding:0px 8px;
    color: #120f5e   ;

}
.about_content{
    margin-top: 2px;
    font-size: 24px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color:#58799F;
    padding: 10px 0px 20px 0px;

}
@media screen and (max-width: 700px){
    footer, nav{
        flex-direction: column;
        padding: 10px 0px;
    }
    #flex-align-right{
        margin-left: 0;
    }
     
    section:nth-child(1){
        height: 450px;
    }  

    section:nth-child(2){
        height: 500px;
    } 
    section:nth-child(3){
        height: 900px;
    } 
}
@media screen and (max-width: 280px){
    section:nth-child(3){
        height: 1060px;
    }
    .sm_handle a {
        
        padding: 10px 1px;
        margin: 5px 2px;
        font-size: 1em;
    }
    .profile-name{
        font-size: 1.2rem;
        font-weight: 775;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-transform: uppercase;
        margin: 20px 0px 30px 0px ;
    }
}

